/* стили для header */
.page-header { 
  padding: 30px 0 125px;
  background-image: url("../images/banner-bg.jpg");
  background-color: #1c2141;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.page-header::before {
  content: "";  
  background-color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

.container {  
  width: 75%;
  max-width: 1200px;  
  padding-left: 0.96%;
  padding-right: 0.84%;  
  margin: 0 auto;
}

.header-top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.logo {
  display: block;
}

.logo-img {
  width: 180px;
}

.logo-img:hover, .logo-img:focus {
  outline: none;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-list .list-item {
  margin-right: 35px;
}

.nav-list .list-item:last-child {
  margin-right: 0;
}

.item-link {
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.item-link:hover, .item-link:focus {
  outline: none;  
  text-decoration: underline;
}

.menu-burger {
  display: none;
}

.logo-mobile {
  display: none;
}

.logo-mobile:hover, .logo-mobile:focus {
  outline: none;
}


.header-title {
  width: 690px;
  margin: 100px auto 0 auto;
  font-size: 45px;
  line-height: 1.66;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

/* стили для pop-up */
.pop-up {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-container {
  position: relative;
  width: 23.5%;
  max-width: 390px;
  padding: 30px 20px;
  background-color: white;
}

.feedback {
  font-size: 13px;
}

.form-row {
  margin-bottom: 20px;
}

.question-select {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding: 13px 10px;
  font-size: inherit;
  color: grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: #f3f2f2 url(../images/form-arrows.svg) no-repeat right 10px center;
  background-size: 8px;
}

.question-select:focus {
  border: 1px solid #b9a464;
  outline:  none;
}

.form-hint {
  display: block;
  margin-bottom: 10px;
}

.radio-group {
  display: inline-block;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 5px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background: url("../images/form-empty-circle.svg") no-repeat center center;
  background-size: 100%;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url("../images/form-circle.svg");
}

.form-textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
  padding: 10px;
  margin-top: 10px;
  font: inherit;
  color: grey;
  background-color: #f3f2f2;
  border: none;
}

.form-textarea:focus {
  border: 1px solid #b9a464;
  outline:  none;
}

.send-button {
  width: 100%;
  padding: 30px;
  font-size: inherit;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: #b59f5b;  
  border: 1px solid #b59f5b;
}

.send-button:focus, .send-button:hover {  
  border: 1px solid #323232;
  background-color: #323232;
}

.popup-close {
  position: absolute;
  top: -27px;
  right: 0;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: none;
}
/* стили для Тренды */
.trends {
  max-width: 100%;
  margin: 57px auto 0 auto;
}

.section-title {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.section-title::after {
  content: "";
  display: block;
  width: 65px;
  height: 3px;
  margin: 10px auto 25px auto;
  background-color: #b59f5b;
  opacity: 0.4;
}

.trends-wrp {
  display: flex;
  flex-wrap: wrap;
}

.trends-item-wrp {
  display: flex;
  align-items: flex-end;
  width: calc(25% - 4px);
  flex-grow: 1;
  padding: 8.25% 22px 18px;
  margin-right: 4px;
  background-color: #1c2141;
  position: relative;
  z-index: 0;
}

.trends-item-wrp::before {
  content: "";
  background-color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

.trends-item-wrp:last-child {
  width: calc(25% - 4px);
  margin-right: 0;  
}

.trends-item-wrp-garden {
  background: url("../images/trend1.jpg") no-repeat center center;
  background-size: cover;
}

.trends-item-wrp-cheese {
  background: url("../images/trend2.jpg") no-repeat center center;
  background-size: cover;
}

.trends-item-wrp-trip {
  background: url("../images/trend3.jpg") no-repeat center center;
  background-size: cover;
}

.trends-item-wrp-lemon {
  background: url("../images/trend4.jpg") no-repeat center center;
  background-size: cover;
}

.trends-item {
  width: 100%;
  padding: 29px 45px 27px 33px;
  border: solid 3px rgba(181, 159, 91, 0.6);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.tags-item {
  margin-right: 20px;
}

.tags-item:last-child {
  margin-right: 0;
}

.tags-item-link {
  font-size: 14px;
  color: #b59f5b;  
  font-weight: bold;
  text-transform: uppercase;  
}

.tags-item-link:hover, .tags-item-link:focus {
  outline: none;  
  text-decoration: underline;
}

.trends-title {
  line-height: 1.08;  
}

.trends-title-link {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

.trends-title-link:hover, .trends-title-link:focus {
  color: #b59f5b;
  outline: none;
}

/* стили для container (main и aside) */
.container.main-aside {
  margin-top: 62px;
  display: flex;
}

/* стили для container-main */
.container-main {
  flex-grow: 1;
  margin-right: 125px;
}

.article-main {
  display: flex;
  margin-bottom: 55px;
}

.article-main:last-child {
  margin-bottom: 0;
}

.article-img-container {
  margin-right: 30px;
}

.article-img {
/* чтобы получить заявленные в макете 380px */
  width: 22.892vw;
  max-width: 380px;
}

.article-content {
  display: inline-block;  
}

.article-content .tags {  
  margin-bottom: 3px;
}

.tags .list-item {
  margin-right: 20px;
}

.tags .list-item:last-child {
  margin-right: 0;
}

.article-main-title {
  margin: 0px 0px 20px 0px;
  line-height: 1.08;
}

.article-main-title-link {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: bold;
  text-transform: uppercase;  
}

.article-main-title-link:hover, .article-main-title-link:focus {
  outline: none;
  color: #b59f5b;
}

.date-and-autor {
  margin-bottom: 46px;
}

.date {
  font-size: 12px;
  color: #888888;
}

.date-and-autor .date {
  margin-right: 10px;
}

.autor {
  font-size: 12px;
  color: #000000;
  font-weight: bold;
}

.article-text {
  font-size: 15px;
  line-height: 1.46;
  color: #0f0d0e; 
}

/* стили для aside */
.container-aside {
  width: 270px;
  flex-shrink: 0;
}

.aside-titles {
  font-size: 14px;
  color: #0f0d0e;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.aside-titles::after {
  content: "";
  display: block;
  width: 68px;
  height: 3px;
  margin: 10px auto 24px auto;
  background-color: #b59f5b;
  opacity: 0.4;
}

.article-new-posts {
  display: flex;
  margin-bottom: 18px;  
}

.article-new-posts-img-container {  
  margin-right: 17px;
}

.article-new-posts-img {
  width: 70px;
}

.article-new-posts-content .date {
  display: block;
  font-size: 12px;
  margin-bottom: 2px;
}

.article-new-posts-title-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.12;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.article-new-posts-title-link:hover, .article-new-posts-title-link:focus {
  outline: none;
  color: #b59f5b;
}

/* стили для формы поиска */
.form-search-container {
  margin-top: 55px;
}

.form-search {
  display: flex;
}

.input-search-lable {
  flex-grow: 1;
}

.input-search {
  display: block;
  width: 100%;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  background-color: #f4f7f6;
}

.input-search:focus {
  border: 1px solid #b59f5b;
  outline:  none;
}

.button-search {
  width: 48px;
  height: 48px;
  border: none;
  background: #b59f5b url("../images/search.svg") no-repeat center;
  background-size: 18px;
}

.button-search:hover, .button-search:focus {
  background: #323232 url("../images/search.svg") no-repeat center;
  background-size: 18px;
}

/* стили для формы подписки */
.form-mailing-container {
  margin-top: 55px;
}

.input-mailing {
  display: block;
  width: 100%;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  border: none;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-mailing:active, .input-mailing:focus {
  border: 1px solid #b59f5b;
  outline:  none;
}

.button-mailing {
  width: 100%;
  height: 48px; 
  border: 1px solid #b59f5b;
  background: #b59f5b;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.button-mailing:hover, .button-mailing:focus {
  border-top: 1px solid #bbbbbb;  
  background: #323232;
}

/* стили для раздела Теги */
.tags-container {
  margin-top: 55px;
}

.tags-list-container {
  display: flex;
  flex-wrap: wrap;
}

.tags-list-item {
  margin-right: 7px;
  margin-bottom: 5px;
}

.tags-list-container .tags-item-link {
  display: block;
  padding: 5px 13px;
  border: 3px solid #eeeeee;
  font-size: 12px;
  color: #0f0d0e;  
  text-transform: uppercase;
  text-decoration: none;
}

.tags-item-link:hover, .tags-item-link:focus {  
  border-color: #b59f5b;  
}

/* стили для раздела Темы */
.topics-container {
  margin-top: 52px;
}

.topics-container .aside-titles::after {
  margin-bottom: 20px;
}

.topics-list-item {
  margin-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeded;
}

.topics-item-link {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

.topics-item-link:hover, .topics-item-link:focus {
  outline: none;
  color: #b59f5b;
}

.superscript {
  font-size: 12px;
  color: #b59f5b;
  font-weight: bold;
}

/* стили для блока Shop */
.shop {
  margin-top: 52px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-wrp {
  width: calc(33.333% - 43.33px);
  display: flex;
  flex-direction: column;
}

.product-img-wrp {
  width: 87%;
  margin: 0 auto;
}

.product-img {
  width: 100%;
  z-index: -1;
}

.product-text {
  flex-grow: 1;
  padding: 40px 20px 25px 20px;
  margin-top: -30px;
  border: 3px solid rgba(181, 159, 91, 0.7);
}

.section-title-product {
  text-align: left;
  margin-bottom: 5px;
}

.section-title-product::after {
  display: none;
}

.product-text-block {
  margin-bottom: 20px;
}

.product-info {
  font-size: 15px;
  line-height: 1.46;
  color: #0f0d0e;
  font-weight: normal;
}

.product-info-link {
  color: #b59f5b;
}

.product-info-link:hover, .product-info-link:focus {
  outline: none;
  text-decoration: underline;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-wrp {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
}

.price-out {
  font-size: 14px;
  text-decoration: line-through;
}

.btn-link {
  display: inline-block;
  padding: 15px 28px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: #b59f5b;  
  border: 1px solid #b59f5b;  
}

.btn-link:hover, .btn-link:focus { 
  border-top: 1px solid #bbbbbb;  
  background: #323232;
}
/* стили для footer */
.page-footer {
  margin-top: 68px;  
}

.footer-container {
  background-color: #f4f7f6;
  padding-top: 28px;
  padding-bottom: 28px;
}

.social-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.social-icons-list-item {
  margin-right: 30px;
}

.social-icons-list-item:last-child {
  margin-right: 0;
}

.social-icons-link {
  display: block;
  width: 20px;
  height: 20px;
}

.social-icons-link-dribbble {
  background: url("../images/001-dribbble.svg") no-repeat center;
  background-size: 100%;
}

.social-icons-link-pinterest {
  background: url("../images/002-pinterest.svg") no-repeat center;
  background-size: 100%;
}

.social-icons-link-tumblr {
  background: url("../images/003-tumblr.svg") no-repeat center;
  background-size: 100%;
}

.copyrights-container {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 5px;
}

.copyrights-link {
  font-size: 12px;
  font-weight: bold;
  color: #bebebe;
}
